@tailwind base;
@tailwind components;
@tailwind utilities;

/* Define the font faces */
@font-face {
  font-family: 'PalatinoBold';
  src: url('./assets/fonts/palatinolinotype_bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'PalatinoBoldItalic';
  src: url('./assets/fonts/palatinolinotype_bolditalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'PalatinoItalic';
  src: url('./assets/fonts/palatinolinotype_italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'PalatinoRoman';
  src: url('./assets/fonts/palatinolinotype_roman.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html {
  font-family: 'PalantinoRoman', sans-serif;
}